ZDOTDIR="$HOME/.config/zsh"

# --- Paths ---
export PATH="$HOME/.local/bin:$PATH"

## Homebrew is OS-specific
{{ if eq .chezmoi.os "darwin" -}}
  export PATH="/opt/homebrew/bin:$PATH"
{{ else if eq .chezmoi.os "linux" -}}
  export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
{{- end }}

# --- Locale ---
export LANG="en_GB.UTF-8"

# --- Editor ---
export EDITOR="nvim"
